trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- checkout: none

- script: |
    git clone https://github.com/usnistgov/oscal-content.git
    cd oscal-content/nist.gov
  displayName: 'Clone OSCAL Repo'

- script: |
    docker run --rm -v $(Build.SourcesDirectory)/oscal-content:/oscal usnistgov/oscal-cli validate /oscal/nist.gov/catalog.json
  displayName: 'Validate OSCAL Schema'

- script: |
    cd oscal-content/nist.gov
    sha256sum * > sha256_manifest.txt
  displayName: 'Generate SHA-256 Manifest'