trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: JavaToolInstaller@0
  inputs:
    versionSpec: '17'
    jdkArchitectureOption: 'x64'
    jdkSourceOption: 'PreInstalled'
  displayName: 'Install Java 17'

- script: |
    curl -LO https://github.com/usnistgov/OSCAL/releases/latest/download/oscal-cli.jar
    java -jar oscal-cli.jar validate $(System.DefaultWorkingDirectory)/oscal-content/nist.gov/catalog.json
  displayName: 'Validate OSCAL Schema'